<div class = "tableContainer"> 
    <div class = "">
        <table class = "table">
            <thead>
                <tr>
                    <th *ngFor="let item of usersSettings" scope="col">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "str" *ngFor="let item of users">       
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.email}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.sex}}</td>
                    <td>{{item.access}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>