.tableContainer {

  max-height: 400px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #FFF9F9;
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
}

table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid grey;
  width: 100%; 
  /*display: block;*/
}


tbody, thead {
  width: 100%;
  display: block;
}

tbody {
  height: 200px;    
  overflow-y: auto;  
  /*overflow-x: auto;*/
}

tr.str:hover{
  background-color: #4CAF50;
}

th, td {
  width: calc(100% / 7);
  padding: 10px 15px;
  border: 1px solid grey;
}


th{
  border: 1px solid grey;
}

td{
   border: 1px solid grey;
}

